body {
	background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(84, 30, 30, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 80%;
	max-width: 600px;
	height: 80%;
	max-height: 500px;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 2rem;
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
}

h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	color: white;
}

input {
	padding: 10px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	width: 80%;
	max-width: 400px;
}

button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	width: 80%;
	max-width: 400px;
	margin-bottom: 15px;
}

button:hover {
	background-color: #0056b3;
}

#submitButton {
	margin-bottom: 30px;
}

#hintButton {
	margin-bottom: 10px;
}

label {
	margin-bottom: 10px;
	color: white;
}

p {
	margin: 10px;
	font-size: 1.2rem;
	color: white;
}

#glassmorphic-container {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(20px);
	border-radius: 20px;
	padding: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1),
		-20px -20px 50px rgba(255, 255, 255);
}
